.App{
    background-image: url('./img/background.png');
    background-color: black;
    width: 100vw;
    
}

/*Projects section */

.card-img{
    position: relative;
}
.card-img img{
    width: 28vw;
    border:1px solid white;
    border-radius: 30px;
    margin: 10px;
   
}



.card-img img:hover{
    opacity: 1;
    animation: imgAnim 3s ease;
}



.card-img span{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    opacity: 0;
    transition: 2s ease;
}

.card-img span:hover{
    opacity: 1;
}

.card-img h4{
    position:absolute;
    top:40%;
    left: 50%;
    transform: translate(-40% , -50%);
    opacity: 0;
    transition: 2s ease;
}

.card-img h4:hover{
    opacity: 1;
}

ul.mb-3.nav.nav-tabs{
    justify-content: center;
    align-content: center;
    border: 1px solid white;
    border-radius: 10px;
    
}




.nav-item li{
    border: 2px solid white;
    
}



li button:hover{
    border: 1px solid white;
    font-size: 20px;
    animation: buttonAnim 2s ease;
    animation-fill-mode: forwards;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(106,1,129,1) 100%, rgba(0,212,255,1) 100%);}

@keyframes buttonAnim {
    0%{
        border: 0;
        color:white;
        padding-right: 10px;
        
    }

    100%{
        border: 0;
        color: white;
        background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(106,1,129,1) 100%, rgba(0,212,255,1) 100%);
        padding-right: 40px;
    }
    
}

header .row .col-one{
    width: 40vw;
}



html{
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

nav.navbar-text{
    font-size: 30px;
}

.navbar-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.me-auto a{
    font-size: 25px;
    font-weight: 500;
    
}

#basic-navbar-nav{
    justify-content: flex-end;
    margin-right: 0 !important;
}

.me-auto.navbar-nav{
    margin-right: 0 !important;
}



.col-one{
    color:white;
    text-align: center;
}

#nav{
    background-color: transparent;
    opacity: none;
}

.vvd{
    background-color: transparent;
    border: 1px solid white;
    transition: 1s ease;
}

.vvd:hover{
    background-color:white;
    color:black
}


.social-icon a img{
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: 1s ease;
   
}

.social-icon a img:hover{
    filter: grayscale(0.5);
    filter: brightness(0.5);
}


.row{
    color:white;
    text-align: center;
}

.img-header{
    width: 35vw;
    height: auto;
    animation: astro 10s infinite ;
}

.header-text{
    margin-bottom: 20px;
    font-size: 50px;
    letter-spacing: 0.8px;
    line-height: 1.1;
    padding: 10px;
    display: block;

}

.header-button{
    margin-left: 10px;
    transition: 1s;
}

.header-button:hover{
    background-color: transparent;
    color:white;
    border: 1px solid white;
}

/*Skill style*/

 .skill{
    padding: 0 0 50px 0;
    position: relative;
    
}

.skill-bx{
    /* background-color: black; */
    background:rgba(0, 0, 0, 0.496);
    border-radius: 64px;
    text-align: center;
    padding: 50px;
    margin-top: 60px;
   
}

.skill-percent{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    margin: 30px;
    border-radius: 50px;
    border-color: rgb(159, 193, 255) rgb(83, 130, 248) rgb(0, 89, 167) blue;
    border-radius: 50px;
    text-align: center; 
}


.skill h5{
    font-size: 45px;
    font-weight: bold;

}

.skill p{
    color:white;
    font-size: 15px;
    letter-spacing: 0.6px;
    line-height: 1.5em;
    margin: 15px 0 75px 0;
}

.skill-slider{
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    position:relative;
}

.skill-slider .skill-percent img{
    width: 50%;
    margin: 0 auto 15px auto;

}





@keyframes astro {

    0%{
        

    }
    50%{
        
        transform:translateY(50px);
    }


    100%{
        transform:translateY(0px);
    }


    
}


@keyframes imgAnim {
    0%{
        background: linear-gradient(0deg, rgba(2,0,36,1) 10%, rgba(106,1,129,1) 100%, rgba(0,212,255,1) 100%);
    }

    20%{ background: linear-gradient(60deg, rgba(2,0,36,1) 10%, rgba(106,1,129,1) 100%, rgba(0,212,255,1) 100%);}
    30%{ background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgba(106,1,129,1) 100%, rgba(0,212,255,1) 100%);}
    40%{ background: linear-gradient(120deg, rgba(2,0,36,1) 10%, rgba(106,1,129,1) 100%, rgba(0,212,255,1) 100%);}
    50%{ background: linear-gradient(150deg, rgba(2,0,36,1) 10%, rgba(106,1,129,1) 100%, rgba(0,212,255,1) 100%);}
    70%{ background: linear-gradient(200deg, rgba(2,0,36,1) 10%, rgba(106,1,129,1) 100%, rgba(0,212,255,1) 100%);}

    100%{background: linear-gradient(250deg, rgba(2,0,36,1) 10%, rgba(106,1,129,1) 100%, rgba(0,212,255,1) 100%);}
    
}



