.App{
    background-image: url('./img/background-header.jpg');
    width: 100vw;
    height: 100vh;
}

/* .header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 20vh;
    color: white;
} */

/* .header .row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
} */

header .row .col-one{
    width: 40vw;
}



html{
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

nav.navbar-text{
    font-size: 30px;
}

.navbar-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.me-auto a{
    font-size: 30px;
    font-weight: 500;
    
}



.col-one{
    color:white;
    text-align: center;
}

#nav{
    background-color: transparent;
    opacity: none;
}

.vvd{
    background-color: transparent;
    border: 1px solid white;
    transition: 1s ease;
}

.vvd:hover{
    background-color:white;
    color:black
}


.social-icon a img{
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: 1s ease;
   
}

.social-icon a img:hover{
    filter: grayscale(0.5);
    filter: brightness(0.5);
}


.row{
    color:white;
    text-align: center;
}

.img-header{
    width: 20vw;
    height: auto;
    animation: astro 10s infinite ;
}

.header-text{
    margin-bottom: 20px;
    font-size: 50px;
    letter-spacing: 0.8px;
    line-height: 1.1;
    padding: 10px;
    display: block;

}

.header-button{
    margin-left: 10px;
    transition: 1s;
}

.header-button:hover{
    background-color: transparent;
    color:white;
    border: 1px solid white;
}



@keyframes astro {

    0%{
        

    }
    50%{
        width: 40vw;
        transform:translateY(50px);
    }


    100%{
        width: 20vw;
        transform:translateY(0px);
    }


    
}


