.App{
    background-image: url('./img/background.png');
    background-color: black;
    width: 100vw;
    
}

/* .header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 20vh;
    color: white;
} */

/* .header .row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
} */

header .row .col-one{
    width: 40vw;
}



html{
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

nav.navbar-text{
    font-size: 30px;
}

.navbar-text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.me-auto a{
    font-size: 30px;
    font-weight: 500;
    
}



.col-one{
    color:white;
    text-align: center;
}

#nav{
    background-color: transparent;
    opacity: none;
}

.vvd{
    background-color: transparent;
    border: 1px solid white;
    transition: 1s ease;
}

.vvd:hover{
    background-color:white;
    color:black
}


.social-icon a img{
    width: 50px;
    height: 50px;
    margin: 10px;
    transition: 1s ease;
   
}

.social-icon a img:hover{
    filter: grayscale(0.5);
    filter: brightness(0.5);
}


.row{
    color:white;
    text-align: center;
}

.img-header{
    width: 35vw;
    height: auto;
    animation: astro 10s infinite ;
}

.header-text{
    margin-bottom: 20px;
    font-size: 50px;
    letter-spacing: 0.8px;
    line-height: 1.1;
    padding: 10px;
    display: block;

}

.header-button{
    margin-left: 10px;
    transition: 1s;
}

.header-button:hover{
    background-color: transparent;
    color:white;
    border: 1px solid white;
}

/*Skill style*/

 .skill{
    padding: 0 0 50px 0;
    position: relative;
    
}

.skill-bx{
    /* background-color: black; */
    background:rgba(0, 0, 0, 0.496);
    border-radius: 64px;
    text-align: center;
    padding: 50px;
    margin-top: 60px;
   
}

.skill-percent{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    margin: 30px;
    border-radius: 50px;
    border-color: rgb(159, 193, 255) rgb(83, 130, 248) rgb(0, 89, 167) blue;
    border-radius: 50px;
    text-align: center; 
}


.skill h5{
    font-size: 45px;
    font-weight: bold;

}

.skill p{
    color:white;
    font-size: 15px;
    letter-spacing: 0.6px;
    line-height: 1.5em;
    margin: 15px 0 75px 0;
}

.skill-slider{
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    position:relative;
}

.skill-slider .skill-percent img{
    width: 50%;
    margin: 0 auto 15px auto;

}





@keyframes astro {

    0%{
        

    }
    50%{
        
        transform:translateY(50px);
    }


    100%{
        transform:translateY(0px);
    }


    
}


